<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>JavaScript</title>
  </head>
  <body>
    <script src="script.js"></script>
  </body>
</html>
  <div class="wrapper">
    <main>
      <section class="fv-section">
        <p class="main-copy"><b>風邪薬はAIが選ぶ</b>
        </p>
        <p class="fv-text">〜お客様の症状別に合わせてお薬を自動判別〜</p>
        <a href="/posts/new" class="cta-btn">GO</a>
      </section>
    <footer>
      <small>kojinn2 all rights reserved</small>
    </footer>
  </div>
</body>
</html>

