//yieldを使用し全体に反映されている
.contents{
  // margin: 30px auto 0;
  background-color: #7086f1;
  // height: 100%;
  // padding: 30px;
  .back {
    margin-bottom: 40px;
  }
}
body{
  background-color: #7086f1;
  min-width: 650px;
  .title {
    margin: top -40px;
    text-align: center;
    h1 {
      color: white;
      margin: auto;
    }
  }
  .content{
    &__right{
      font-size: medium;
    }
  }
  .title{
      margin: top -40px;
  }
  &__title{
    font-size: 30px;
    font-weight: bold;
    padding-top: 30px;
    text-align: center;
  }
.user{
padding: 15px 30px;
}
}




//ページネーション の上下の空白
nav.pagination {
  padding: inherit;
}