.postManage{
  display: flex;
  justify-content: center;
  margin-top: 10px;
  &__edit{
    display: block;
    border-radius: 5px;
    color: #ffffff;
    background-color:blue;
    padding: 0 10px;
    text-decoration: none;
    margin-right: 10px;
    font-size: 40px;
    text-align: center;
  }
  &__delete{
    display: block;
    border-radius: 5px;
    color: #ffffff;
    background-color:blue;
    padding: 0 10px;
    text-decoration: none;
    margin-left: 10px;
    font-size: 40px;
    text-align: center;
  }
}








.postContent{
  padding: 200px 0 0 0;
  background-color: #424080;
  form input[type="submit"] {
    background-color:red;
    border-radius: 20px;
    color: #fff;
    border: 0;
    // height: 70px;
    font-size: 40px;
    font-weight: bold;
    box-shadow: 0 7px 0 #d1483e;
    cursor: grab;
  }
    input#keyword {
      width: 100%;
    }
    input, textarea {
      font-size: 30px;
      text-align: center;
      height: 100px;
      padding: 0 20px;
      margin-left: 30px;
    }
    form {
      color: red;
      font-size: 20px;
      display: flex;
    }
}

.content____bottom--userName--btn:hover {
  opacity: 0.4;
  box-shadow: 0 0 60px rgb(204, 204, 194);
}
.content__right__top--title:hover {
  opacity: 0.4;
  box-shadow: 0 0 60px yellow;
}




.content__bottom__top {
  // display: flex;

}
.content__right__bottom--userName {
  // display: flex;
}
.content__1__title{
  display: flex;
}
.sex {
  display: flex;
}
.age {
  display: flex;
}
.created_at {
  display: flex;
  &__answer {
    font-size: 15px;
}
}
.content__3 {
  display: flex;
}
