.postTitle{
  padding: 20px 0;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  // color:red;
  // border: solid 30px;
}


.image {
  // height: 100vh;
  // background-color: aqua;
  .postImage {
    // padding: 300px ;
    background-size: cover;
    background-position: center center;
    height: inherit;
    height: 200px;
    width: 200px;
    display: inline-flex;
    background-color: white;
  line-height: 200px;
  font-size: 20px;
  }
}


.post_content {
  // margin: 30px 0 0 240px;
  .result {
    border: solid 20px ;
    color: white;
    margin-top: 50px;
    .post {
      background-color: #ff872f;
      //  padding: 0px 0 0 100px;
      margin: 60px 20px;
      //  margin: auto;
    }
  }
}
.posts1 {
  display: flex;
  justify-content: space-evenly;
}
.posts2 {
  display: flex;
  justify-content: space-evenly;
}
.posts3 {
  display: flex;
  justify-content: space-evenly;
}





.container{
  form input[type="submit"] {
    background-color: #ff872f;
    border-radius: 20px;
    color: #fff;
    border: 0;
    height: 70px;
    font-size: 40px;
    font-weight: bold;
    box-shadow: 0 7px 0 #d1483e;
    cursor: grab;
    line-height: 70px;
    margin-top: 20px;
  }
    input, textarea {
      font-size: 30px;
      text-align: center;
      height: 200px;
      line-height: 200px;
      width: 100%;
    }
  }


  .comments {
    color: black;
    background: white;
    font-size: x-large;
    }
    .comment {
      padding: 0px 20px 20px 0;
  }

  .chat {
    margin-top: 200px;
    width: 1000px;
    margin-left: 300px;
}